@{
    ViewData["Title"] = "Our Courses";
}
<h1>Available Training Courses</h1>
<ul>
    <li>Full Stack .NET Development</li>
    <li>MERN Stack Mastery</li>
    <li>Cloud Computing with Azure</li>
</ul>